.row
  .fivecol
    %h2 Imagine-se vivendo a dura realidade das ruas do Rio.
    %p Paz Berti vai morar um mês nas ruas do Rio para sentir na pele o que é estar à margem na nossa cidade. Essa história vai ser contada aqui, com uploads e vídeos diários, personagens, locais e denúncias. Fique ligado e acompanhe o PAZ NA PISTA: a vida nas ruas, contada em um mês.
    %span.highlight Registre-se aqui para acompanhar essa experiência de perto!
    .notice= notice
    .errors
      - @subscriber.errors.full_messages.each do |msg|
        .error= msg
    = form_for @subscriber do |form|
      = form.label :email
      = form.email_field :email, :placeholder => "DIGITE SEU E-MAIL"
      = form.submit "Cadastrar E-mail"
  .sevencol.last
    %iframe.video{:allowFullScreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "http://player.vimeo.com/video/40026891?title=0&amp;byline=0&amp;portrait=0", :webkitAllowFullScreen => ""}
