!!!
%html
  %head
    %title PazNaPista
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    %link{:href => 'http://fonts.googleapis.com/css?family=Montserrat', :rel => 'stylesheet', :type => 'text/css'}
    = csrf_meta_tags
  %body
    .container.header
      .row
        %h1.twelvecol Paz na Pista
    .container.content= yield
    .container.footer
      .row
        .twelvecol
          %span Encontre-nos nas redes sociais:
          = link_to "Twitter", "https://twitter.com/#!/paznapista"
          = link_to "Facebook", "https://www.facebook.com/PazNaPista"
